.shape {
    height: 0;
    width: 0;
    border-bottom: 30px solid black;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
<<<<<<< HEAD
}
=======
  }
>>>>>>> e44af159ce14d1e2c710eb8ee5694267456158d4
